openapi: 3.0.0
info:
  title: Smart Calendar API
  version: 1.0.0
  description: Smart Calendar API

servers:
  - url: https://smc-api.pmaw.net
    description: production server

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    ReminderOptions:
      type: integer
      enum: [0, 5, 10, 15, 30, 60, 120, 1440, 2880, 10080]
      description: |
        จน. นาที ที่จะแจ้งเตือน:
        * 0 = At time of event
        * 5 = Five minutes before
        * 10 = Ten minutes before
        * 15 = Fifteen minutes before
        * 30 = Thirty minutes before
        * 60 = One hour before
        * 120 = Two hours before
        * 1440 = One day before
        * 2880 = Two days before
        * 10080 = One week before

    GroupType:
      type: string
      enum: [system, course]
      description: ประเภทของกลุ่มกิจกรรม

    Priority:
      type: integer
      enum: [1, 2, 3]
      description: ระดับความสำคัญ (1-3)

    Event:
      type: object
      properties:
        id:
          type: integer
          description: ไอดีของกิจกรรม
        title:
          type: string
          minLength: 1
          maxLength: 32
          description: ชื่อกลุ่มกิจกรรม
        start:
          type: string
          format: date-time
          description: เวลาเริ่มต้น
        end:
          type: string
          format: date-time
          description: เวลาสิ้นสุด
        groups:
          type: array
          items:
            type: number
          uniqueItems: true
          description: ไอดีของกลุ่มของกิจกรรมดังกล่าว
      required:
        - id
        - title
        - start
        - end
        - groups
    
    EventNew:
      type: object
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 32
          description: ชื่อกลุ่มกิจกรรม
        start:
          type: string
          format: date-time
          description: เวลาเริ่มต้น
        end:
          type: string
          format: date-time
          description: เวลาสิ้นสุด
        groups:
          type: array
          items:
            type: number
          uniqueItems: true
          description: ไอดีของกลุ่มของกิจกรรมดังกล่าว
      required:
        - id
        - title
        - start
        - end
        - groups

    EventUpdate:
      type: object
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 32
          description: ชื่อกิจกรรม
        start:
          type: string
          format: date-time
          description: เวลาเริ่มต้น
        end:
          type: string
          format: date-time
          description: เวลาสิ้นสุด
        groups:
          type: array
          items:
            type: number
          uniqueItems: true
          description: ไอดีของกลุ่มของกิจกรรมดังกล่าว

    Group:
      type: object
      properties:
        id:
          type: integer
          description: ไอดีของกลุ่มกิจกรรม
        title:
          type: string
          minLength: 1
          maxLength: 32
          description: ชื่อกลุ่มกิจกรรม
        color:
          type: string
          pattern: '^rgb\(\d{1,3},\d{1,3},\d{1,3}\)$'
          description: สีในรูปแบบ RGB เช่น rgb(255,0,0)
        isBusy:
          type: boolean
          description: สถานะว่าง/ไม่ว่าง
        priority:
          type: integer
          minimum: 1
          maximum: 3
          description: ระดับความสำคัญ (1-3)
        reminders:
          type: array
          items:
            type: integer
          uniqueItems: true
          description: นาทีที่จะแจ้งเตือนทั้งหมดก่อนถึงเวลากิจกรรม

    GroupUpdate:
      type: object
      properties:
        color:
          type: string
          pattern: '^rgb\(\d{1,3},\d{1,3},\d{1,3}\)$'
          description: สีในรูปแบบ RGB เช่น rgb(255,0,0)
        isBusy:
          type: boolean
          description: สถานะว่าง/ไม่ว่าง
        priority:
          type: integer
          minimum: 1
          maximum: 3
          description: ระดับความสำคัญ (1-3)
        reminders:
          type: array
          items:
            type: integer
          uniqueItems: true
          description: นาทีที่จะแจ้งเตือนทั้งหมดก่อนถึงเวลากิจกรรม

    Auth:
      type: object
      properties:
        username:
          type: string
          description: ชื่อผู้ใช้
        password:
          type: string
          description: รหัสผ่าน
      required:
        - username
        - password

    Error:
      type: object
      properties:
        message:
          type: string
          description: ข้อความแสดงข้อผิดพลาด

    User:
      type: object
      properties:
        firstName:
          type: string
          description: ชื่อจริง
        middleName:
          type: string
          description: ชื่อกลาง
        lastName:
          type: string
          description: นามสกุล
        studentNo:
          type: integer
          description: รหัสนักศึกษา
      required:
        - firstName
        - middleName
        - lastName
        - studentNo

    SharedGroup:
      type: object
      properties:
        id:
          type: integer
          description: ไอดีของกลุ่มปฏิทินร่วมกัน
        title:
          type: string
          minLength: 1
          maxLength: 32
          description: ชื่อกลุ่มปฏิทินร่วมกัน
        color:
          type: string
          pattern: '^rgb\(\d{1,3},\d{1,3},\d{1,3}\)$'
          description: สีในรูปแบบ RGB เช่น rgb(255,0,0)
        priority:
          type: integer
          minimum: 1
          maximum: 3
          description: ระดับความสำคัญ (1-3)
        idealDays:
          type: array
          items:
            type: integer
            minimum: 0
            maximum: 6
          uniqueItems: true
          description: วันที่เหมาะสมสำหรับการนัดหมาย (0 = อาทิตย์, 6 = เสาร์)
        idealTimeRange:
          $ref: '#/components/schemas/TimeRange'
          description: ช่วงเวลาที่เหมาะสมสำหรับการนัดหมาย
        members:
          type: array
          items:
            $ref: '#/components/schemas/Member'
          description: รายชื่อสมาชิกในกลุ่ม
      required:
        - id
        - title
        - color
        - priority
        - idealDays
        - idealTimeRange
        - members

    SharedGroupNew:
      type: object
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 32
          description: ชื่อกลุ่มปฏิทินที่แชร์
        color:
          type: string
          pattern: '^rgb\(\d{1,3},\d{1,3},\d{1,3}\)$'
          description: สีในรูปแบบ RGB เช่น rgb(255,0,0)
        priority:
          type: integer
          minimum: 1
          maximum: 3
          description: ระดับความสำคัญ (1-3)
        idealDays:
          type: array
          items:
            type: integer
            minimum: 0
            maximum: 6
          uniqueItems: true
          description: วันที่เหมาะสมสำหรับการนัดหมาย (0 = อาทิตย์, 6 = เสาร์)
        idealTimeRange:
          $ref: '#/components/schemas/TimeRange'
          description: ช่วงเวลาที่เหมาะสมสำหรับการนัดหมาย
        memberEmails:
          type: array
          items:
            type: string
            format: email
          description: อีเมลของสมาชิกที่ต้องการเชิญ
      required:
        - title
        - color
        - priority
        - idealDays
        - idealTimeRange
        - memberEmails

    TimeRange:
      type: object
      properties:
        start:
          type: string
          format: date-time
          description: เวลาเริ่มต้น
        end:
          type: string
          format: date-time
          description: เวลาสิ้นสุด (รูปแบบ HH:mm)
      required:
        - start
        - end

    Member:
      type: object
      properties:
        id:
          type: integer
          description: ไอดีของสมาชิก
        email:
          type: string
          format: email
          description: อีเมลของสมาชิก
        status:
          type: string
          enum: [pending, accepted, rejected]
          description: สถานะการเป็นสมาชิก
      required:
        - id
        - email
        - status

    Notification:
      type: object
      properties:
        id:
          type: integer
          description: ไอดีของการแจ้งเตือน
        title:
          type: string
          description: หัวข้อการแจ้งเตือน
        message:
          type: string
          description: ข้อความการแจ้งเตือน
        type:
          type: string
          enum: [system]
          description: ประเภทการแจ้งเตือน
        isRead:
          type: boolean
          description: สถานะการอ่าน
        createdAt:
          type: string
          format: date-time
          description: เวลาที่สร้างการแจ้งเตือน
      required:
        - id
        - title
        - message
        - type
        - isRead
        - createdAt

security:
  - BearerAuth: []

paths:
  /user/auth:
    post:
      tags:
        - ผู้ใช้งาน
      summary: เข้าสู่ระบบ
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth'
      responses:
        '200':
          description: JWT Token
          content:
            text/plain:
              schema:
                type: string
        '401':
          description: การยืนยันตัวตนล้มเหลว

  /user/me:
    get:
      tags:
        - ผู้ใช้งาน
      summary: ดูข้อมูลผู้ใช้ปัจจุบัน
      responses:
        '200':
          description: ข้อมูลผู้ใช้
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: ไม่ได้รับอนุญาต
        '404':
          description: ไม่พบผู้ใช้

  /user/mango:
    patch:
      tags:
        - ผู้ใช้งาน
      summary: อัปเดตโทเคน Mango
      parameters:
        - in: query
          name: token
          required: true
          schema:
            type: string
          description: โทเคน Mango
      responses:
        '200':
          description: อัปเดตโทเคนสำเร็จ
        '400':
          description: โทเคนไม่ถูกต้อง
        '401':
          description: ไม่ได้รับอนุญาต

  /calendar/events:
    get:
      tags:
        - ปฏิทิน
      summary: ดูกิจกรรมทั้งหมดของผู้ใช้
      responses:
        '200':
          description: รายการกิจกรรม
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Event'
        '401':
          description: ไม่ได้รับอนุญาต

  /calendar/event/{id}:
    get:
      tags:
        - ปฏิทิน
      summary: ดูกิจกรรมตามไอดี
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: ไอดีของกิจกรรม
      responses:
        '200':
          description: รายละเอียดกิจกรรม
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '401':
          description: ไม่ได้รับอนุญาต
        '404':
          description: ไม่พบกิจกรรม

    patch:
      tags:
        - ปฏิทิน
      summary: แก้ไขกิจกรรม
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: ไอดีของกิจกรรม
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventUpdate'
      responses:
        '200':
          description: กิจกรรมที่อัปเดตแล้ว
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          description: คำขอไม่ถูกต้อง
        '401':
          description: ไม่ได้รับอนุญาต
        '404':
          description: ไม่พบกิจกรรม

    delete:
      tags:
        - ปฏิทิน
      summary: ลบกิจกรรม
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: ไอดีของกิจกรรม
      responses:
        '200':
          description: ลบกิจกรรมสำเร็จ
        '401':
          description: ไม่ได้รับอนุญาต
        '404':
          description: ไม่พบกิจกรรม

  /calendar/event:
    post:
      tags:
        - ปฏิทิน
      summary: สร้างกิจกรรมใหม่
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventNew'
      responses:
        '200':
          description: กิจกรรมที่สร้างแล้ว
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          description: คำขอไม่ถูกต้อง
        '401':
          description: ไม่ได้รับอนุญาต

  /calendar/groups:
    get:
      tags:
        - ปฏิทิน
      summary: ดูกลุ่มทั้งหมดของผู้ใช้
      responses:
        '200':
          description: รายการกลุ่ม
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Group'
        '401':
          description: ไม่ได้รับอนุญาต

  /calendar/group/{id}:
    get:
      tags:
        - ปฏิทิน
      summary: ดูกลุ่มตามไอดี
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: ไอดีของกลุ่ม
      responses:
        '200':
          description: รายละเอียดกลุ่ม
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        '401':
          description: ไม่ได้รับอนุญาต
        '404':
          description: ไม่พบกลุ่ม

    patch:
      tags:
        - ปฏิทิน
      summary: แก้ไขกลุ่ม
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: ไอดีของกลุ่ม
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupUpdate'
      responses:
        '200':
          description: กลุ่มที่อัปเดตแล้ว
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        '400':
          description: คำขอไม่ถูกต้อง
        '401':
          description: ไม่ได้รับอนุญาต
        '404':
          description: ไม่พบกลุ่ม

  /notifications:
    get:
      tags:
        - การแจ้งเตือน
      summary: ดูการแจ้งเตือนของผู้ใช้
      parameters:
        - in: query
          name: unreadOnly
          schema:
            type: boolean
          description: แสดงเฉพาะการแจ้งเตือนที่ยังไม่ได้อ่าน
        - in: query
          name: limit
          schema:
            type: integer
          description: จำนวนการแจ้งเตือนที่ต้องการ (ไม่เกิน 99)
        - in: query
          name: offset
          schema:
            type: integer
          description: ตำแหน่งเริ่มต้นของการแจ้งเตือน
      responses:
        '200':
          description: รายการการแจ้งเตือน
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '400':
          description: คำขอไม่ถูกต้อง
        '401':
          description: ไม่ได้รับอนุญาต

  /notifications/{id}/read:
    patch:
      tags:
        - การแจ้งเตือน
      summary: ทำเครื่องหมายว่าอ่านแล้ว
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: ไอดีของการแจ้งเตือน
      responses:
        '200':
          description: ทำเครื่องหมายว่าอ่านแล้วสำเร็จ
        '400':
          description: คำขอไม่ถูกต้อง
        '401':
          description: ไม่ได้รับอนุญาต
        '404':
          description: ไม่พบการแจ้งเตือน

  /notifications/read-all:
    patch:
      tags:
        - การแจ้งเตือน
      summary: ทำเครื่องหมายว่าอ่านแล้วทั้งหมด
      responses:
        '200':
          description: ทำเครื่องหมายว่าอ่านแล้วทั้งหมดสำเร็จ
        '400':
          description: คำขอไม่ถูกต้อง
        '401':
          description: ไม่ได้รับอนุญาต

  /calendar/shared-group:
    post:
      tags:
        - ปฏิทินร่วมกัน
      summary: สร้างกลุ่มปฏิทินร่วมกัน
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SharedGroupNew'
      responses:
        '201':
          description: กลุ่มปฏิทินร่วมกันที่สร้างแล้ว
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedGroup'
        '400':
          description: คำขอไม่ถูกต้อง
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: ไม่ได้รับอนุญาต

  /calendar/shared-group/{id}/members:
    post:
      tags:
        - ปฏิทินร่วมกัน
      summary: เพิ่มสมาชิกในกลุ่ม
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: ไอดีของกลุ่มปฏิทินร่วมกัน
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                emails:
                  type: array
                  items:
                    type: string
                    format: email
                  description: รายการอีเมลของสมาชิกที่ต้องการเพิ่ม
              required:
                - emails
      responses:
        '200':
          description: เพิ่มสมาชิกสำเร็จ
        '400':
          description: คำขอไม่ถูกต้อง
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: ไม่ได้รับอนุญาต
        '404':
          description: ไม่พบกลุ่ม

    delete:
      tags:
        - ปฏิทินร่วมกัน
      summary: ลบสมาชิกออกจากกลุ่ม
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: ไอดีของกลุ่มปฏิทินร่วมกัน
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                memberIds:
                  type: array
                  items:
                    type: integer
                  description: รายการไอดีของสมาชิกที่ต้องการลบ
              required:
                - memberIds
      responses:
        '200':
          description: ลบสมาชิกสำเร็จ
        '400':
          description: คำขอไม่ถูกต้อง
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: ไม่ได้รับอนุญาต
        '404':
          description: ไม่พบกลุ่มหรือสมาชิก

    get:
      tags:
        - ปฏิทินร่วมกัน
      summary: ดูรายชื่อสมาชิกในกลุ่ม
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: ไอดีของกลุ่มปฏิทินร่วมกัน
      responses:
        '200':
          description: รายชื่อสมาชิก
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Member'
        '400':
          description: คำขอไม่ถูกต้อง
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: ไม่ได้รับอนุญาต
        '404':
          description: ไม่พบกลุ่ม

  /calendar/shared-group/invite/{token}/{action}:
    post:
      tags:
        - ปฏิทินร่วมกัน
      summary: ตอบรับหรือปฏิเสธคำเชิญเข้าร่วมกลุ่ม
      parameters:
        - in: path
          name: token
          required: true
          schema:
            type: string
            format: uuid
          description: โทเคนคำเชิญ
        - in: path
          name: action
          required: true
          schema:
            type: string
            enum: [accept, reject]
          description: การกระทำ (ตอบรับ/ปฏิเสธ)
      responses:
        '200':
          description: ดำเนินการสำเร็จ
        '400':
          description: คำขอไม่ถูกต้อง
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: ไม่ได้รับอนุญาต
        '404':
          description: ไม่พบคำเชิญ

  /calendar/shared-group/invites:
    get:
      tags:
        - ปฏิทินร่วมกัน
      summary: ดูคำเชิญทั้งหมด
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  description: อีเมลที่ต้องการดูคำเชิญ
              required:
                - email
      responses:
        '200':
          description: รายการคำเชิญ
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    token:
                      type: string
                      format: uuid
                      description: โทเคนคำเชิญ
                    groupId:
                      type: integer
                      description: ไอดีของกลุ่ม
                    groupTitle:
                      type: string
                      description: ชื่อกลุ่ม
                    invitedBy:
                      type: string
                      description: ชื่อผู้เชิญ
                    createdAt:
                      type: string
                      format: date-time
                      description: เวลาที่สร้างคำเชิญ
        '400':
          description: คำขอไม่ถูกต้อง
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: ไม่ได้รับอนุญาต

  /calendar/shared-group/{id}/schedule:
    post:
      tags:
        - ปฏิทินร่วมกัน
      summary: จัดตารางเวลาประชุมกลุ่ม
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: ไอดีของกลุ่มปฏิทินร่วมกัน
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                duration:
                  type: integer
                  description: ระยะเวลาที่ต้องการ (นาที)
                title:
                  type: string
                  description: ชื่อการประชุม (ไม่บังคับ)
              required:
                - duration
      responses:
        '201':
          description: สร้างการประชุมสำเร็จ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          description: คำขอไม่ถูกต้อง
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: ไม่ได้รับอนุญาต
        '404':
          description: ไม่พบกลุ่มหรือไม่พบเวลาที่เหมาะสม
