openapi: 3.0.0
info:
  title: Smart Calendar API
  version: 1.0.0
  description: Smart Calendar API

servers:
  - url: https://smc-api.pmaw.net
    description: production server

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Pagination:
      type: object
      properties:
        total:
          type: integer
          description: จำนวนรายการทั้งหมด
        limit:
          type: integer
          description: จำนวนรายการสูงสุดต่อหน้า
        offset:
          type: integer
          description: ตำแหน่งเริ่มต้นของรายการในหน้าปัจจุบัน
        hasMore:
          type: boolean
          description: มีรายการในหน้าถัดไปหรือไม่
      required:
        - total
        - limit
        - offset
        - hasMore

    ReminderOptions:
      type: integer
      enum: [0, 5, 10, 15, 30, 60, 120, 1440, 2880, 10080]
      description: |
        จน. นาที ที่จะแจ้งเตือน:
        * 0 = At time of event
        * 5 = Five minutes before
        * 10 = Ten minutes before
        * 15 = Fifteen minutes before
        * 30 = Thirty minutes before
        * 60 = One hour before
        * 120 = Two hours before
        * 1440 = One day before
        * 2880 = Two days before
        * 10080 = One week before

    GroupType:
      type: string
      enum: [system, course]
      description: ประเภทของกลุ่มกิจกรรม

    Priority:
      type: integer
      enum: [1, 2, 3]
      description: ระดับความสำคัญ (1-3)

    Event:
      type: object
      properties:
        id:
          type: integer
          description: ไอดีของกิจกรรม
        title:
          type: string
          minLength: 1
          maxLength: 32
          description: ชื่อกลุ่มกิจกรรม
        start:
          type: string
          format: date-time
          description: เวลาเริ่มต้น
        end:
          type: string
          format: date-time
          description: เวลาสิ้นสุด
        groups:
          type: array
          items:
            type: number
          uniqueItems: true
          description: ไอดีของกลุ่มของกิจกรรมดังกล่าว
      required:
        - id
        - title
        - start
        - end
        - groups
    
    EventNew:
      type: object
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 32
          description: ชื่อกลุ่มกิจกรรม
        start:
          type: string
          format: date-time
          description: เวลาเริ่มต้น
        end:
          type: string
          format: date-time
          description: เวลาสิ้นสุด
        groups:
          type: array
          items:
            type: number
          uniqueItems: true
          description: ไอดีของกลุ่มของกิจกรรมดังกล่าว
      required:
        - title
        - start
        - end
        - groups

    EventUpdate:
      type: object
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 32
          description: ชื่อกิจกรรม
        start:
          type: string
          format: date-time
          description: เวลาเริ่มต้น
        end:
          type: string
          format: date-time
          description: เวลาสิ้นสุด
        groups:
          type: array
          items:
            type: number
          uniqueItems: true
          description: ไอดีของกลุ่มของกิจกรรมดังกล่าว

    Group:
      type: object
      properties:
        id:
          type: integer
          description: ไอดีของกลุ่มกิจกรรม
        title:
          type: string
          minLength: 1
          maxLength: 32
          description: ชื่อกลุ่มกิจกรรม
        color:
          type: string
          pattern: '^rgb\(\d{1,3},\d{1,3},\d{1,3}\)$'
          description: สีในรูปแบบ RGB เช่น rgb(255,0,0)
        isBusy:
          type: boolean
          description: สถานะว่าง/ไม่ว่าง
        priority:
          type: integer
          minimum: 1
          maximum: 3
          description: ระดับความสำคัญ (1-3)
        reminders:
          type: array
          items:
            type: integer
          uniqueItems: true
          description: นาทีที่จะแจ้งเตือนทั้งหมดก่อนถึงเวลากิจกรรม

    GroupUpdate:
      type: object
      properties:
        color:
          type: string
          pattern: '^rgb\(\d{1,3},\d{1,3},\d{1,3}\)$'
          description: สีในรูปแบบ RGB เช่น rgb(255,0,0)
        isBusy:
          type: boolean
          description: สถานะว่าง/ไม่ว่าง
        priority:
          type: integer
          minimum: 1
          maximum: 3
          description: ระดับความสำคัญ (1-3)
        reminders:
          type: array
          items:
            type: integer
          uniqueItems: true
          description: นาทีที่จะแจ้งเตือนทั้งหมดก่อนถึงเวลากิจกรรม

    Auth:
      type: object
      properties:
        username:
          type: string
          description: ชื่อผู้ใช้
        password:
          type: string
          description: รหัสผ่าน
      required:
        - username
        - password

    Error:
      type: object
      properties:
        message:
          type: string
          description: ข้อความแสดงข้อผิดพลาด

    User:
      type: object
      properties:
        firstName:
          type: string
          description: ชื่อจริง
        middleName:
          type: string
          description: ชื่อกลาง
        lastName:
          type: string
          description: นามสกุล
        studentNo:
          type: integer
          description: รหัสนักศึกษา
      required:
        - firstName
        - middleName
        - lastName
        - studentNo

    SharedEvent:
      type: object
      properties:
        id:
          type: integer
          description: ไอดีของกิจกรรมร่วมกัน
        title:
          type: string
          minLength: 1
          maxLength: 32
          description: ชื่อกลุ่มกิจกรรมร่วมกัน
        reminders:
          type: array
          items:
            type: integer
          uniqueItems: true
          description: นาทีที่จะแจ้งเตือนทั้งหมดก่อนถึงเวลากิจกรรม
        idealDays:
          type: array
          items:
            type: integer
            minimum: 0
            maximum: 6
          uniqueItems: true
          description: วันที่เหมาะสมสำหรับการนัดหมาย (0 = อาทิตย์, 6 = เสาร์)
        idealTimeRange:
          $ref: '#/components/schemas/TimeRange'
          description: ช่วงเวลาที่เหมาะสมสำหรับการนัดหมาย
        members:
          type: array
          items:
            $ref: '#/components/schemas/Member'
          description: รายชื่อสมาชิกในกิจกรรม
        invites:
          type: array
          items:
            $ref: '#/components/schemas/Invite'
        events:
          type: array
          items:
            $ref: '#/components/schemas/Event'
        updatedAt:
          type: string
          format: date-time
          description: เวลาที่แก้ไขกิจกรรมล่าสุด
        createdAt:
          type: string
          format: date-time
          description: เวลาที่เพิ่มกิจกรรม
      required:
        - id
        - title
        - reminders
        - idealDays
        - idealTimeRange
        - members

    SharedEventUpdate:
      type: object
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 32
          description: ชื่อกลุ่มกิจกรรมร่วมกัน
        reminders:
          type: array
          items:
            type: integer
          uniqueItems: true
          description: นาทีที่จะแจ้งเตือนทั้งหมดก่อนถึงเวลากิจกรรม
        idealDays:
          type: array
          items:
            type: integer
            minimum: 0
            maximum: 6
          uniqueItems: true
          description: วันที่เหมาะสมสำหรับการนัดหมาย (0 = อาทิตย์, 6 = เสาร์)
        idealTimeRange:
          $ref: '#/components/schemas/TimeRange'
          description: ช่วงเวลาที่เหมาะสมสำหรับการนัดหมาย
        members:
          type: array
          items:
            type: string
            format: email
          description: อีเมลล์ของสมาชิกที่ต้องการเชิญ

    SharedEventNew:
      type: object
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 32
          description: ชื่อกลุ่มกิจกรรมร่วมกัน
        reminders:
          type: array
          items:
            type: integer
          uniqueItems: true
          description: นาทีที่จะแจ้งเตือนทั้งหมดก่อนถึงเวลากิจกรรม
        idealDays:
          type: array
          items:
            type: integer
            minimum: 0
            maximum: 6
          uniqueItems: true
          description: วันที่เหมาะสมสำหรับการนัดหมาย (0 = อาทิตย์, 6 = เสาร์)
        idealTimeRange:
          $ref: '#/components/schemas/TimeRange'
          description: ช่วงเวลาที่เหมาะสมสำหรับการนัดหมาย
        members:
          type: array
          items:
            type: string
            format: email
          description: อีเมลล์ของสมาชิกที่ต้องการเชิญ
      required:
        - title
        - reminders
        - idealDays
        - idealTimeRange
        - members

    TimeRange:
      type: object
      properties:
        start:
          type: string
          format: date-time
          description: เวลาเริ่มต้น
        end:
          type: string
          format: date-time
          description: เวลาสิ้นสุด
      required:
        - start
        - end

    Member:
      type: object
      properties:
        firstName:
          type: string
          description: ชื่อจริงของสมาชิก
        middleName:
          type: string
          description: ชื่อกลางของสมาชิก
        lastName:
          type: string
          description: นามสกุลของสมาชิก
      required:
        - firstName
        - middleName
        - lastName
    
    Invite:
      type: object
      properties:
        email:
          type: string
          format: email
          description: อีเมลล์ของคนที่ถูกเชิญ
        status:
          type: string
          enum: [pending, accepted, rejected]
          description: สถานะของการเชิญ
        updatedAt:
          type: string
          format: date-time
          description: เวลาที่แก้ไขการเชิญล่าสุด
        createdAt:
          type: string
          format: date-time
          description: เวลาที่เพิ่มการเชิญ
      required:
        - email
        - status

    FcmToken:
      type: object
      properties:
        id:
          type: integer
          description: ไอดีของโทเคน FCM
        token:
          type: string
          description: โทเคน FCM
        deviceName:
          type: string
          minLength: 1
          maxLength: 64
          description: ชื่ออุปกรณ์
        createdAt:
          type: string
          format: date-time
          description: เวลาที่เพิ่มโทเคน
      required:
        - id
        - token
        - deviceName
        - createdAt

    FcmTokenInfo:
      type: object
      properties:
        id:
          type: integer
          description: ไอดีของโทเคน FCM
        deviceName:
          type: string
          description: ชื่ออุปกรณ์
        createdAt:
          type: string
          format: date-time
          description: เวลาที่เพิ่มโทเคน
      required:
        - id
        - deviceName
        - createdAt

    Notification:
      type: object
      properties:
        id:
          type: integer
          description: ไอดีของการแจ้งเตือน
        title:
          type: string
          description: หัวข้อการแจ้งเตือน
        message:
          type: string
          description: ข้อความการแจ้งเตือน
        type:
          type: string
          enum: [system]
          description: ประเภทการแจ้งเตือน
        isRead:
          type: boolean
          description: สถานะการอ่าน
        createdAt:
          type: string
          format: date-time
          description: เวลาที่สร้างการแจ้งเตือน
      required:
        - id
        - title
        - message
        - type
        - isRead
        - createdAt

security:
  - BearerAuth: []

paths:
  /user/auth:
    post:
      tags:
        - ผู้ใช้งาน
      summary: เข้าสู่ระบบ
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth'
      responses:
        '200':
          description: JWT Token
          content:
            text/plain:
              schema:
                type: string
        '401':
          description: การยืนยันตัวตนล้มเหลว

  /user/me:
    get:
      tags:
        - ผู้ใช้งาน
      summary: ดูข้อมูลผู้ใช้ปัจจุบัน
      responses:
        '200':
          description: ข้อมูลผู้ใช้
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: ไม่ได้รับอนุญาต
        '404':
          description: ไม่พบผู้ใช้

  /user/mango:
    patch:
      tags:
        - ผู้ใช้งาน
      summary: อัปเดตโทเคน Mango
      parameters:
        - in: query
          name: token
          required: true
          schema:
            type: string
          description: โทเคน Mango
      responses:
        '200':
          description: อัปเดตโทเคนสำเร็จ
        '400':
          description: โทเคนไม่ถูกต้อง
        '401':
          description: ไม่ได้รับอนุญาต

  /calendar/events:
    get:
      tags:
        - ปฏิทิน
      summary: ดูกิจกรรมตามช่วงเวลา
      parameters:
        - in: query
          name: startDate
          required: true
          schema:
            type: string
            format: date
          description: วันที่เริ่มต้น (จำเป็นต้องระบุ)
        - in: query
          name: endDate
          required: true
          schema:
            type: string
            format: date
          description: วันที่สิ้นสุด (จำเป็นต้องระบุ)
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 1000
          description: จำนวนกิจกรรมสูงสุดที่ต้องการ (ไม่เกิน 1,000)
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
            default: 0
          description: ตำแหน่งเริ่มต้นของกิจกรรม (สำหรับการแบ่งหน้า)
      responses:
        '200':
          description: รายการกิจกรรมและข้อมูลการแบ่งหน้า
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                required:
                  - events
                  - pagination
        '400':
          description: คำขอไม่ถูกต้อง (ไม่ได้ระบุวันที่, วันที่ไม่ถูกต้อง, limit หรือ offset ไม่ถูกต้อง)
        '401':
          description: ไม่ได้รับอนุญาต

  /calendar/event/{id}:
    get:
      tags:
        - ปฏิทิน
      summary: ดูกิจกรรมตามไอดี
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: ไอดีของกิจกรรม
      responses:
        '200':
          description: รายละเอียดกิจกรรม
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '401':
          description: ไม่ได้รับอนุญาต
        '404':
          description: ไม่พบกิจกรรม

    patch:
      tags:
        - ปฏิทิน
      summary: แก้ไขกิจกรรม
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: ไอดีของกิจกรรม
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventUpdate'
      responses:
        '200':
          description: กิจกรรมที่อัปเดตแล้ว
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          description: คำขอไม่ถูกต้อง
        '401':
          description: ไม่ได้รับอนุญาต
        '404':
          description: ไม่พบกิจกรรม

    delete:
      tags:
        - ปฏิทิน
      summary: ลบกิจกรรม
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: ไอดีของกิจกรรม
      responses:
        '200':
          description: ลบกิจกรรมสำเร็จ
        '401':
          description: ไม่ได้รับอนุญาต
        '404':
          description: ไม่พบกิจกรรม

  /calendar/event:
    post:
      tags:
        - ปฏิทิน
      summary: สร้างกิจกรรมใหม่
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventNew'
      responses:
        '201':
          description: กิจกรรมที่สร้างแล้ว
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          description: คำขอไม่ถูกต้อง
        '401':
          description: ไม่ได้รับอนุญาต

  /calendar/groups:
    get:
      tags:
        - ปฏิทิน
      summary: ดูกลุ่มทั้งหมดของผู้ใช้
      responses:
        '200':
          description: รายการกลุ่ม
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Group'
        '401':
          description: ไม่ได้รับอนุญาต

  /calendar/group/{id}:
    get:
      tags:
        - ปฏิทิน
      summary: ดูกลุ่มตามไอดี
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: ไอดีของกลุ่ม
      responses:
        '200':
          description: รายละเอียดกลุ่ม
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        '401':
          description: ไม่ได้รับอนุญาต
        '404':
          description: ไม่พบกลุ่ม

    patch:
      tags:
        - ปฏิทิน
      summary: แก้ไขกลุ่ม
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: ไอดีของกลุ่ม
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupUpdate'
      responses:
        '200':
          description: กลุ่มที่อัปเดตแล้ว
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        '400':
          description: คำขอไม่ถูกต้อง
        '401':
          description: ไม่ได้รับอนุญาต
        '404':
          description: ไม่พบกลุ่ม

  /notifications:
    get:
      tags:
        - การแจ้งเตือน
      summary: ดูการแจ้งเตือนของผู้ใช้
      parameters:
        - in: query
          name: unreadOnly
          schema:
            type: boolean
          description: แสดงเฉพาะการแจ้งเตือนที่ยังไม่ได้อ่าน
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 1000
          description: จำนวนการแจ้งเตือนที่ต้องการ (ไม่เกิน 1,000)
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
            default: 0
          description: ตำแหน่งเริ่มต้นของการแจ้งเตือน (สำหรับการแบ่งหน้า)
      responses:
        '200':
          description: รายการการแจ้งเตือนและข้อมูลการแบ่งหน้า
          content:
            application/json:
              schema:
                type: object
                properties:
                  notifications:
                    type: array
                    items:
                      $ref: '#/components/schemas/Notification'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                required:
                  - notifications
                  - pagination
        '400':
          description: คำขอไม่ถูกต้อง
        '401':
          description: ไม่ได้รับอนุญาต

  /notifications/{id}/read:
    patch:
      tags:
        - การแจ้งเตือน
      summary: ทำเครื่องหมายว่าอ่านแล้ว
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: ไอดีของการแจ้งเตือน
      responses:
        '200':
          description: ทำเครื่องหมายว่าอ่านแล้วสำเร็จ
        '400':
          description: คำขอไม่ถูกต้อง
        '401':
          description: ไม่ได้รับอนุญาต
        '404':
          description: ไม่พบการแจ้งเตือน

  /notifications/read-all:
    patch:
      tags:
        - การแจ้งเตือน
      summary: ทำเครื่องหมายว่าอ่านแล้วทั้งหมด
      responses:
        '200':
          description: ทำเครื่องหมายว่าอ่านแล้วทั้งหมดสำเร็จ
        '400':
          description: คำขอไม่ถูกต้อง
        '401':
          description: ไม่ได้รับอนุญาต

  /calendar/events/shared:
    get:
      tags:
        - กิจกรรมร่วมกัน
      summary: ดูกิจกรรมร่วมกันทั้งหมด
      parameters:
        - in: query
          name: status
          schema:
            type: string
            enum: [pending, accepted, rejected]
          description: กรองตามสถานะของกิจกรรม
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 1000
          description: จำนวนกิจกรรมสูงสุดที่ต้องการ (ไม่เกิน 1,000)
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
            default: 0
          description: ตำแหน่งเริ่มต้นของกิจกรรม (สำหรับการแบ่งหน้า)
      responses:
        '200':
          description: รายการกิจกรรมร่วมกันและข้อมูลการแบ่งหน้า
          content:
            application/json:
              schema:
                type: object
                properties:
                  sharedEvents:
                    type: array
                    items:
                      $ref: '#/components/schemas/SharedEvent'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                required:
                  - sharedEvents
                  - pagination
        '400':
          description: คำขอไม่ถูกต้อง
        '401':
          description: ไม่ได้รับอนุญาต

  /calendar/event/shared:
    post:
      tags:
        - กิจกรรมร่วมกัน
      summary: สร้างกิจกรรมร่วมกัน
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SharedEventNew'
      responses:
        '201':
          description: กิจกรรมร่วมกันที่สร้างแล้ว
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedEvent'
        '400':
          description: คำขอไม่ถูกต้อง
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: ไม่ได้รับอนุญาต

  /calendar/event/shared/{id}:
    patch:
      tags:
        - กิจกรรมร่วมกัน
      summary: แก้ไขกิจกรรมร่วมกัน
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: ไอดีของกิจกรรมร่วมกัน
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SharedEventUpdate'
      responses:
        '200':
          description: กิจกรรมร่วมกันที่อัปเดตแล้ว
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedEvent'
        '400':
          description: คำขอไม่ถูกต้อง
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: ไม่ได้รับอนุญาต
        '404':
          description: ไม่พบกิจกรรมร่วมกัน
    
    delete:
      tags:
        - กิจกรรมร่วมกัน
      summary: ลบกิจกรรมร่วมกัน
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: ไอดีของกิจกรรมร่วมกัน
      responses:
        '200':
          description: ลบกิจกรรมร่วมกันสำเร็จ
        '401':
          description: ไม่ได้รับอนุญาต
        '404':
          description: ไม่พบกิจกรรมร่วมกัน

  /calendar/event/shared/{id}/accept:
    post:
      tags:
        - กิจกรรมร่วมกัน
      summary: ตอบรับกิจกรรมร่วมกัน
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: ไอดีของกิจกรรมร่วมกัน
      responses:
        '200':
          description: ตอบรับกิจกรรมร่วมกันสำเร็จ
        '404':
          description: ไม่ได้รับอนุญาตหรือไม่พบกิจกรรมร่วมกัน
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /user/fcm:
    post:
      tags:
        - ผู้ใช้งาน
      summary: เพิ่มโทเคน FCM
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  description: โทเคน FCM
                deviceName:
                  type: string
                  minLength: 1
                  maxLength: 64
                  description: ชื่ออุปกรณ์
              required:
                - token
                - deviceName
      responses:
        '201':
          description: เพิ่มโทเคนสำเร็จ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FcmTokenInfo'
        '400':
          description: โทเคนหรือชื่ออุปกรณ์ไม่ถูกต้อง
        '401':
          description: ไม่ได้รับอนุญาต
        '409':
          description: จำนวนโทเคนเกินกำหนด (สูงสุด 10 โทเคน)

    get:
      tags:
        - ผู้ใช้งาน
      summary: ดูรายการอุปกรณ์ที่ลงทะเบียน FCM
      responses:
        '200':
          description: รายการอุปกรณ์ที่ลงทะเบียน FCM
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FcmTokenInfo'
                maxItems: 10

  /user/fcm/{id}:
    delete:
      tags:
        - ผู้ใช้งาน
      summary: ลบการลงทะเบียน FCM ของอุปกรณ์
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: ไอดีของการลงทะเบียนที่ต้องการลบ
      responses:
        '200':
          description: ลบการลงทะเบียนสำเร็จ
        '401':
          description: ไม่ได้รับอนุญาต
        '404':
          description: ไม่พบการลงทะเบียน

  /calendar/event/shared/{id}/reject:
    post:
      tags:
        - กิจกรรมร่วมกัน
      summary: ปฏิเสธกิจกรรมร่วมกัน
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: ไอดีของกิจกรรมร่วมกัน
      responses:
        '200':
          description: ปฏิเสธกิจกรรมร่วมกันสำเร็จ
        '404':
          description: ไม่ได้รับอนุญาตหรือไม่พบกิจกรรมร่วมกัน
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /calendar/event/shared/{id}/arrange:
    post:
      tags:
        - กิจกรรมร่วมกัน
      summary: เริ่มกิจกรรมร่วมกันและลบสมาชิกที่ปฏิเสธหรือยังไม่ตอบรับ
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: ไอดีของกิจกรรมร่วมกัน
      responses:
        '200':
          description: กิจกรรมร่วมกันที่อัปเดตแล้ว
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedEvent'
        '400':
          description: คำขอไม่ถูกต้อง
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: ไม่ได้รับอนุญาต
        '404':
          description: ไม่พบกิจกรรมร่วมกัน
        '409':
          description: ไม่สามารถหาเวลาว่างร่วมกัน
